<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- handle PHP scripts by Phalanger: -->
      <add name="Phalanger Handler" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <!-- Phalanger configuration: -->
  <phpNet>
    <classLibrary/>
    <scriptLibrary/>
  </phpNet>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>